/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.containerr {
    max-width: 80%;
    background-color: rgb(8, 235, 219);
    padding: 34px;
    margin: auto;
}

.containerr h3,
p {
    text-align: center;
}

h3 {
    font-size: 50px;
    margin: 20px;
    margin-bottom: 15px;
    color: rgb(0, 37, 0);
}

.headingMsg {
    font-size: 30px;
    margin: 5px;
    margin-bottom: 15px;
    color: rgb(65, 94, 21);
}

#name,
#age,
#gender,
#email,
#phone,
#service,
textarea {
    /* display: block; */
    width: 80%;
    margin: 11px 0px;
    padding: 10px;
    font-size: 24px;
    border: 2px solid rgb(12, 2, 114);
    border-radius: 10px;
    outline: None;

}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnn {
    color: rgb(228, 249, 226);
    background: rgb(6, 107, 209);
    padding: 16px 65px;
    font-size: 23px;
    border: 3px solid rgb(5, 3, 48);
    border-radius: 10px;
    margin: 15px;
}

.submitMsg {
    color: blueviolet;
    font-size: 30px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}