{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">APQP - Advanced Product Quality Planning</h1>
        <p class="responsive-paragraph">Advanced Product Quality Planning (APQP) is a structured process that helps organizations plan and execute the production of new or modified products. The goal of APQP is to ensure that a product meets or exceeds the customer's expectations for quality and performance. The process is designed to identify and mitigate potential quality issues before they occur, and to ensure that the product is delivered on time and within budget.</p>
        <p class="responsive-paragraph">APQP is based on the Plan-Do-Check-Act (PDCA) cycle, and is a framework for continuous improvement. It is a team-based approach that involves all relevant departments and functions of an organization, including engineering, manufacturing, quality, and purchasing. The process includes five phases: planning, product design and development, process design and development, product and process validation, and ongoing feedback and improvement.</p>
        <p class="responsive-paragraph">APQP is widely used in manufacturing industries, particularly in automotive, aerospace, and medical device manufacturing. It is also used in other industries where products are complex and high-quality standards are required. It helps in identifying potential issues early in the development process, and allows organizations to take corrective action before the product is released to the market. This results in cost savings, improved quality, and increased customer satisfaction.</p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}