{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS 9101:2014</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">AS 9101:2014</h1>
        <p class="responsive-paragraph">AS 9101:2014 is a quality management standard specifically developed for the aerospace industry. It is based on the internationally recognized ISO 9001:2008 standard, but includes additional requirements specific to the aerospace industry, such as risk management and product safety. The standard is intended to help organizations in the aerospace industry to establish, maintain, and improve an effective quality management system. It is used by aerospace manufacturers, suppliers, and service providers to demonstrate their commitment to quality and improve their overall performance. The standard is published by SAE International, a professional organization for aerospace engineers and industry professionals.</p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}