{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 55001</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 55001</h1>
        <p class="responsive-paragraph">ISO 55001 is an international standard for Asset Management Systems (AMS). It provides a framework for managing assets throughout their lifecycle in a systematic and cost-effective way. It is designed to help organizations, regardless of their type or size, to achieve their objectives related to the use of assets.
            <p class="responsive-paragraph">
            The standard is based on the Plan-Do-Check-Act (PDCA) model and is aligned with other management system standards, such as ISO 9001 (Quality Management) and ISO 14001 (Environmental Management). It provides guidelines for the development and implementation of an asset management policy, the establishment of asset management objectives, the implementation of processes to achieve those objectives, and the measurement and analysis of the performance of the asset management system.</p>
            <p class="responsive-paragraph">
            Some of the key benefits of implementing ISO 55001 include:</p>
            <p class="responsive-paragraph">
            Improved decision-making and risk management</p>
            <p class="responsive-paragraph">
            Increased efficiency and cost savings</p>
            <p class="responsive-paragraph">
            Enhanced safety and regulatory compliance</p>
            <p class="responsive-paragraph">
            Improved reliability and availability of assets</p>
            <p class="responsive-paragraph">
            Increased stakeholder satisfaction</p>
            <p class="responsive-paragraph">
            ISO 55001 is suitable for all types of organization, it's not limited to certain sectors, that have assets regardless of their nature and size. It covers all types of assets, including physical, financial, and intangible assets, and it can be applied to both public and private sector organizations.</p>
            <p class="responsive-paragraph">
            ISO 55001 is not a certification standard, it is a management system standard, organizations can implement the standard and they can choose to get certified by an accredited certification body. The certification is optional and it's not a requirement to implement the standard.</p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}