{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">BRC - British Retail Consortium (BRC) Global Standards</h1>
        <p class="responsive-paragraph">The British Retail Consortium (BRC) Global Standards is a leading safety and quality certification program for food and non-food products. BRC certification is recognized globally as a benchmark for quality and safety, and it demonstrates an organization’s commitment to producing safe, high-quality products. BRC standard includes requirements for food safety, product quality, and legality, as well as packaging and storage. Organizations that meet the requirements of BRC can be certified to the standard, which demonstrates their commitment to quality and customer satisfaction. BRC certification is recognized by major retailers and suppliers, and it is often a requirement for organizations that supply food products to major retailers.</p>
        <p class="responsive-paragraph">BRC (British Retail Consortium) Global Standards is primarily used in the food industry. It's a leading safety and quality certification program for food and non-food products. BRC standard includes requirements for food safety, product quality, legality, packaging and storage. It's widely used by food manufacturers, processors, and packaging companies, to ensure that their products are safe and of high quality. BRC certification is recognized by major retailers and suppliers, and it's often a requirement for organizations that supply food products to major retailers. It's recognized globally as a benchmark for quality and safety, and it demonstrates an organization’s commitment to producing safe, high-quality products. BRC certification can also be used by other industries, like packaging, cosmetics, and personal care.</p>

    </div>


</body>

</html>
{% endblock %}