{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 9001 - 2015</h1>
        <p class="responsive-paragraph">AASHI Quality Consultants (AQC) is a leading provider of compliance and supply chain optimization services for organizations in the automotive and retail sectors. We have extensive experience working with major international buyers, retailers such as Urban Ladder, Reliance Retail, IKEA, Amazon and many more.</p>
        <p class="responsive-paragraph">
            We understand the importance of meeting the stringent requirements of these organizations, and our team of experts are dedicated to helping suppliers achieve compliance with various standards and regulations. Our services include:</p>
        <p class="responsive-paragraph">
            Quality Compliance: AQC can help suppliers to meet the quality requirements of their customers by conducting facility evaluations, audits, and factory visits. We also provide training and certification services to ensure that suppliers are able to consistently meet the required standards.
        </p>
        <p class="responsive-paragraph">
            Environmental Compliance: AQC can help suppliers to comply with environmental regulations and standards by conducting facility evaluations and audits, and providing training and certification services.</p>
        <p class="responsive-paragraph">Health and Safety Compliance: AQC can help suppliers to comply with health and safety regulations and standards by conducting facility evaluations and audits, and providing training and certification services.</p>
        <p class="responsive-paragraph">
            Social Accountability Compliance: AQC can help suppliers to comply with social accountability standards and regulations by conducting facility evaluations and audits, and providing training and certification services.
        </p>
        <p class="responsive-paragraph">
        Legal Compliance: AQC can help suppliers to comply with legal requirements and regulations by conducting facility evaluations and audits, and providing training and certification services.</p>
        <p class="responsive-paragraph">Automotive Requirement Compliance: AQC can help suppliers to comply with the specific requirements of the automotive industry by conducting facility evaluations and audits, and providing training and certification services.</p>
        <p class="responsive-paragraph">
        Our team of experts is well-versed in a variety of international standards such as SA 8000, BSCI, ISO 9001, ISO 14001, OHSAS 18001, etc. and can help suppliers to achieve compliance with these standards. We can also provide documentation and certification services to demonstrate compliance.

        At AQC, we are committed to helping organizations improve their supply chain performance and achieve compliance with
        
        industry standards. Our team of experts use a variety of methods to ensure compliance, including facility evaluations, audits, factory visits, documentation, training, and certification. We work closely with our clients to understand their specific needs and develop customized solutions that address their unique challenges and opportunities. With AQC, organizations can have peace of mind knowing that their supply chain is compliant and optimized for maximum performance.</p>
    </div>


</body>

</html>
{% endblock %}