{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">FSSC</h1>
        <p class="responsive-paragraph">FSSC 22000 is a global food safety management system certification standard that covers the entire food supply chain from primary production to final consumption. It is based on ISO 22000, ISO/TS 22002-1 and additional FSSC 22000 requirements. Organizations that meet the requirements of FSSC 22000 can be certified to the standard, which demonstrates their commitment to food safety and quality. FSSC 22000 is recognized by the Global Food Safety Initiative (GFSI) and is accepted by major retailers and suppliers worldwide. It covers the requirements for food safety management, including food safety hazards, operational prerequisite programs and HACCP (Hazard Analysis and Critical Control Points) principles. The certification process is carried out by independent third-party certification bodies, that ensure the company is following the standard requirements and implementing the best practices.</p>
        <p class="responsive-paragraph">FSSC 22000 (Food Safety System Certification) is primarily used in the food industry. It's a global food safety management system certification standard that covers the entire food supply chain from primary production to final consumption. It's based on ISO 22000, ISO/TS 22002-1 and additional FSSC 22000 requirements. It's widely used by food manufacturers, processors, packers, and distributors, to ensure that their products are safe and of high quality. FSSC 22000 is recognized by the Global Food Safety Initiative (GFSI) and is accepted by major retailers and suppliers worldwide. It's also used by food service organizations, like restaurants, caterers, and vending machine operators, as well as by food packaging manufacturers, ingredient suppliers and equipment manufacturers. Overall, it can be used by any organization that produces, processes, packs or distributes food.</p>
    </div>


</body>

</html>
{% endblock %}