{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
    <style>
        .image-container {
            text-align: center; /* centers the image horizontally */
          }
          
          img {
            width: 50%; /* sets the width of the image to 50% of its containing element */
            display: block; /* centers the image vertically */
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          
    </style>
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">IATF</h1>
        <p class="responsive-paragraph">The International Automotive Task Force (IATF) is a global organization that develops and maintains quality management standards for the automotive industry. The IATF was established in 1992 as a cooperative effort between the International Organization for Standardization (ISO) and the International Automotive Oversight Bureau (IAOB). The IATF 16949 is a globally recognized quality management system standard specifically developed for the automotive industry, it's based on ISO 9001:2015 and includes additional requirements for the automotive industry. Organizations that meet the requirements of IATF 16949 can be certified to the standard, which demonstrates their commitment to quality and customer satisfaction in the automotive industry. </p>

        <p class="responsive-paragraph">
            The International Automotive Task Force (IATF) is primarily used in the automotive industry. The IATF 16949 standard was developed specifically for the automotive industry as a globally recognized quality management system standard. It provides a framework for organizations to consistently meet customer requirements, improve overall performance, and comply with relevant laws and regulations in the automotive industry. This standard is used by manufacturers, suppliers, and service providers in the automotive industry, it covers all aspects of the supply chain, from design and development to production and delivery. Organizations that are certified to IATF 16949 demonstrate their commitment to quality and customer satisfaction in the automotive industry and are recognized as reliable suppliers by major automotive manufacturers and OEMs.</p>

    </div>
    

    <div class="image-container">
        <img src="../static/Images/Screenshot (48).png" alt="image description">
    </div>
      


</body>

</html>
{% endblock %}