{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 9001 - 2015</h1>
        <p class="responsive-paragraph">ISO 9001:2015 is an internationally recognized standard for quality management systems. It is a set of guidelines and requirements that organizations can follow to ensure that they are meeting customer and stakeholder needs and continually improving their processes.

        ISO 9001 certification is applicable to any organization, regardless of size, type or industry. It is widely used in manufacturing, service, and government industries. It can be used by organizations to demonstrate their commitment to quality and customer satisfaction. It can also be used as a benchmark to evaluate the performance of an organization and to identify areas for improvement.</p>

    </div>


</body>

</html>
{% endblock %}