{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRIS</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">IRIS</h1>
        <p class="responsive-paragraph">IRIS (International Railway Industry Standard) is an international standard for the railway industry that provides a framework for quality management systems. It was developed by the International Association of the Public Transport Industry (UITP) and the European Railway Agency (ERA) in collaboration with the railway industry. IRIS is based on ISO 9001:2015 and includes specific requirements for the railway industry. Organizations that meet the requirements of IRIS can be certified to the standard, which demonstrates their commitment to quality and customer satisfaction in the railway industry. IRIS certification is recognized by major railway operators and suppliers, and it is considered as a benchmark for quality in the railway industry.</p>
        <p class="responsive-paragraph">IRIS (International Railway Industry Standard) is primarily used in the railway industry. It is an international standard that provides a framework for quality management systems specifically developed for the railway industry. It was developed by the International Association of the Public Transport Industry (UITP) and the European Railway Agency (ERA) in collaboration with the railway industry. IRIS is based on ISO 9001:2015 and includes specific requirements for the railway industry. It covers all aspects of the railway industry, from design and development to production and delivery of railway products and services. Organizations that are certified to IRIS demonstrate their commitment to quality and customer satisfaction in the railway industry, and it is recognized as a benchmark for quality by major railway operators and suppliers.</p>
    </div>


</body>

</html>
{% endblock %}