{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 18001: 2017 </title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 18001:2017 - OHSAS</h1>
        <p class="responsive-paragraph">ISO 18001:2017, also known as OHSAS 18001, is a standard for occupational health and safety management systems. It provides a framework for organizations to manage their occupational health and safety risks and improve their overall performance in this area. The standard is based on the Plan-Do-Check-Act (PDCA) cycle, which is a continuous process for improvement.

        </p>
        <p class="responsive-paragraph">ISO 18001:2017 is used across a wide range of industries, including manufacturing, construction, healthcare, and service sectors. It is applicable to all types and sizes of organizations, regardless of their sector or location. By implementing this standard, organizations can demonstrate their commitment to employee safety and well-being, as well as comply with relevant laws and regulations. Additionally, it also helps to improve overall performance and risk management, reduce accidents and illnesses, and enhance overall reputation. This standard is published by the International Organization for Standardization (ISO).</p>
        <p class="responsive-paragraph"></p>
        <p class="responsive-paragraph"></p>

    </div>


</body>

</html>
{% endblock %}