{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 27001</h1>
        <p class="responsive-paragraph">ISO 27001 is an international standard for Information Security Management Systems (ISMS). It provides a framework for organizations to systematically manage their information security risks and comply with relevant laws and regulations. The standard is based on the Plan-Do-Check-Act (PDCA) cycle, which is a continuous improvement process. It is divided into 14 sections, including scope, normative references, terms and definitions, ISMS, management responsibility, planning, support, operation, performance evaluation and improvement, and Annex A: controls. Each section includes specific requirements that organizations must meet in order to be certified to the standard. Organizations that meet the requirements of ISO 27001 can be certified to the standard, which demonstrates their commitment to information security and data protection.</p>
        <p class="responsive-paragraph">ISO 27001 is an international standard for Information Security Management Systems (ISMS) that can be applied to any organization regardless of its size, type or location. It's used in any industry that needs to protect sensitive information, such as personal data, financial information, confidential business information, and more. Industries that commonly use ISO 27001 include:</p>
            <p class="responsive-paragraph">
            Financial services: banks, insurance companies, and other financial institutions, which need to protect sensitive financial and personal data.
            Healthcare: hospitals, clinics, and other healthcare providers, which need to protect sensitive personal and medical data.</p>
            <p class="responsive-paragraph">
            IT and Technology: software development companies, service providers, and cloud providers, which need to protect sensitive customer data and intellectual property.
            Government organizations: agencies and public services that need to protect sensitive information and comply with regulations.</p>
            <p class="responsive-paragraph">
            Retail and manufacturing: organizations that process and store large amounts of sensitive data, such as customer information, financial data, and trade secrets.
            Overall, it's used by any organization that needs to protect sensitive information and comply with regulations regarding data protection and information security.</p>
    </div>


</body>

</html>
{% endblock %}