{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 45001:2018</h1>
        <p class="responsive-paragraph">ISO 45001:2018 is an international standard for Occupational Health and Safety (OHS) management systems. It provides a framework for organizations to systematically manage their OHS risks and comply with relevant laws and regulations. The standard is based on the Plan-Do-Check-Act (PDCA) cycle, which is a continuous improvement process. It is divided into 10 sections, including scope, normative references, terms and definitions, OHS management system, management responsibility, planning, support, operation, performance evaluation and improvement. Each section includes specific requirements that organizations must meet in order to be certified to the standard. It replaces the former standard OHSAS 18001, and it's widely recognized globally as a benchmark for OHS management and performance. Organizations that are certified to ISO 45001:2018 demonstrate their commitment to OHS and employee well-being.</p>
        <p class="responsive-paragraph">ISO 45001:2018 is an international standard for Occupational Health and Safety (OHS) management systems and it can be applied to any industry or organization regardless of its size, type, or location. It's designed to provide a framework for organizations to systematically manage their OHS risks and comply with relevant laws and regulations. It's suitable for organizations that want to improve their OHS performance, and it helps in preventing work-related injury and ill-health. It's widely used in industries like manufacturing, construction, mining, transportation, and healthcare. It's also used in service industries like retail, hospitality, and education. It's also applicable to public sector organizations and non-profit organizations.</p>

    </div>


</body>

</html>
{% endblock %}