{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
    <style>
        .image-container {
            text-align: center;
            /* centers the image horizontally */
        }

        img {
            width: 50%;
            /* sets the width of the image to 50% of its containing element */
            display: block;
            /* centers the image vertically */
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">ISO 9001 - 2015</h1>
        <p class="responsive-paragraph">ISO 9001:2015 is an internationally recognized standard for quality management
            systems. It is a set of guidelines and requirements that organizations can follow to ensure that they are
            meeting customer and stakeholder needs and continually improving their processes.

            ISO 9001 certification is applicable to any organization, regardless of size, type or industry. It is widely
            used in manufacturing, service, and government industries. It can be used by organizations to demonstrate
            their commitment to quality and customer satisfaction. It can also be used as a benchmark to evaluate the
            performance of an organization and to identify areas for improvement.</p>

    </div>
    <div class="image-container">
        <img src="../static/Images/Screenshot (47).png" alt="image description">
    </div>

    <p class="responsive-paragraph">
        ISO 9001:2015 is based on the Plan-Do-Check-Act (PDCA) cycle, which is a continuous improvement process. The
        standard is divided into 10 sections, including scope, normative references, terms and definitions, quality
        management system, management responsibility, resource management, product realization, measurement, analysis
        and improvement. Each section includes specific requirements that organizations must meet in order to be
        certified to the standard.</p>

    <p class="responsive-paragraph">One of the main benefits of ISO 9001:2015 is that it helps organizations to improve
        their overall performance. By implementing the standard, companies can improve their processes, increase
        efficiency, and reduce costs. Additionally, the standard helps organizations to identify and manage risks, which
        can improve overall business performance.

        Another important benefit of ISO 9001:2015 is that it can help organizations to meet customer requirements. By
        implementing the standard, companies can demonstrate their commitment to quality and customer satisfaction. This
        can help organizations to win new customers and retain existing ones.
    <p>

    <p class="responsive-paragraph">ISO 9001:2015 also helps organizations to improve their communication and
        collaboration within the company. By implementing the standard, companies can improve their internal processes
        and procedures, which can lead to better communication and collaboration among employees. Additionally, the
        standard helps organizations to establish a culture of continuous improvement, which can lead to greater
        employee engagement and motivation.
        However, implementing ISO 9001:2015 can be challenging for organizations. It requires a significant commitment
        of time and resources, and can be difficult to implement in some organizations. Additionally, the standard is
        not specific to any particular industry, so organizations must adapt the requirements to their specific business
        needs.

        In conclusion, ISO 9001:2015 is an international standard for quality management systems that provides a
        framework for organizations to improve overall performance and meet customer requirements. The standard is based
        on the Plan-Do-Check-Act (PDCA) cycle, and includes specific requirements that organizations must meet in order
        to be certified to the standard. Implementing ISO 9001:2015 can be challenging, but it can provide organizations
        with significant benefits, including improved performance, customer satisfaction, and internal communication and
        collaboration.</p>

</body>

</html>
{% endblock %}