{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 9001:2015</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">KAIZEN</h1>
        <p class="responsive-paragraph">Kaizen is a Japanese term that translates to "improvement" or "change for the better." It is a philosophy of continuous improvement that is applied to all aspects of an organization, including production, management, and personal development. The goal of Kaizen is to make small, incremental improvements on a regular basis, with the ultimate goal of achieving significant, long-term results.</p>
            <p class="responsive-paragraph">
            The Kaizen philosophy is based on the idea that everyone in an organization, from the CEO to the front-line employees, is responsible for improving processes and operations. It is a team-based approach that involves all employees in identifying and solving problems, and implementing improvements. Kaizen events, or improvement workshops, are often used to identify and address specific issues, with the goal of achieving measurable results within a short period of time.</p>
            <p class="responsive-paragraph"> 
            Kaizen is often used in manufacturing and production environments, but can be applied to any type of organization. It is particularly well-suited to process-driven industries such as manufacturing, healthcare, and government. By consistently implementing Kaizen, organizations can improve quality, reduce costs, increase productivity, and create a culture of continuous improvement.</p>

    </div>


</body>

</html>
{% endblock %}