{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKE YOKE</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">POKE YOKE</h1>
        <p class="responsive-paragraph">Poke Yoke is a Japanese term that means "mistake-proofing." It is a quality control technique that is used to prevent errors from occurring in the first place by making it impossible or very difficult for an operator to make a mistake. It is a simple and effective way to improve the quality and reliability of a product or process, while also reducing the cost of rework and scrap.</p>
        <p class="responsive-paragraph">Poke Yoke is based on the principle that it is easier and more cost-effective to prevent errors from occurring than to detect and correct them after the fact. It is a proactive approach to quality control that is used to design out potential errors in the design of a product or process. This can be done by adding sensors, interlocks, or other devices that will prevent an operator from making a mistake, or by simplifying the process so that it is more intuitive and user-friendly.</p>
        <p class="responsive-paragraph">Poke Yoke can be applied in any industry and process, including manufacturing, assembly, transportation, and service industries. It can be used to improve the quality of products, such as eliminating defects, reducing scrap and rework, and increasing productivity. This technique is often used in Lean and Six Sigma methodologies to improve quality and efficiency in a process.</p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}