{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIX SIGMA</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">SIX SIGMA</h1>
        <p class="responsive-paragraph">Six Sigma is a quality management methodology that aims to improve the quality of a product or service by reducing defects and minimizing variability in the process. It is a data-driven approach that uses statistical tools and methodologies to identify and eliminate the causes of defects and errors. The name "Six Sigma" comes from the statistical measurement of a process's performance, which refers to the ability of a process to produce no more than 3.4 defects per million opportunities.</p>
        <p class="responsive-paragraph">The Six Sigma methodology is based on the DMAIC (Define, Measure, Analyze, Improve, Control) process, which is a five-step approach to problem-solving. DMAIC process is used to improve an existing process, and DMADV (Define, Measure, Analyze, Design, Verify) process is used to create a new process.v</p>
        <p class="responsive-paragraph">Six Sigma is widely used in manufacturing and service industries, including healthcare, finance, and government. It is particularly well-suited to industries that have high volumes of production or transactions and require a high degree of consistency and quality. By implementing Six Sigma, organizations can achieve significant improvements in quality, efficiency, and customer satisfaction, as well as cost savings. Six Sigma is also known as 6σ, is a set of techniques and tools for process improvement. </p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}