{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAINING</title>
    <link rel="stylesheet" href="../static/css1/style3.css">
</head>

<body>
    <div class="welcome-section">
        <h1 class="responsive-heading sliding-heading">TRAINING</h1>
        <p class="responsive-paragraph">At Aashi Quality Consultants, we understand the importance of training in maintaining and improving the quality of your products and services. That's why we offer a wide range of training programs on various tools, systems, and concepts that are tailored to meet the needs of individuals, small-scale organizations, and large-scale establishments.</p>
        <p class="responsive-paragraph">We have a range of training solutions that are designed to help you and your team to improve your quality management skills and knowledge. Our training programs cover various topics, such as Six Sigma, Lean, ISO standards, and much more. We can also customize training programs to meet your specific needs and requirements.</p>
        <p class="responsive-paragraph">We have a range of training solutions that are designed to help you and your team to improve your quality management skills and knowledge. Our training programs cover various topics, such as Six Sigma, Lean, ISO standards, and much more. We can also customize training programs to meet your specific needs and requirements.</p>
        <p class="responsive-paragraph"></p>
    </div>


</body>

</html>
{% endblock %}